
@keyframes slideToRight {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(71%);
    }
}

@keyframes slideToLeft {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes slideToRight {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(71%);
    }
}

@-moz-keyframes slideToRight {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(71%);
    }
}

@-o-keyframes slideToRight {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(71%);
    }
}

@-webkit-keyframes slideToLeft {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(71%);
    }
}

@-moz-keyframes slideToLeft {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(71%);
    }
}

@-o-keyframes slideToLeft {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(71%);
    }
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 0.8em;
    background-color: #264855;
}

h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

#header-image {
    background-image: url("../img/screen_army.png");
    height: 60%;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#story-image {
    background-image: url("../img/screen_shore.png");
    height: 15%;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: black;
    z-index: 4;
}

nav img {
    width: 50px;
    height: 50px;
}

nav a {
    font-size: 1.3em;
    color: #377A95;
    text-transform: uppercase;
}

.navbar-toggler {
    border: transparent;
}

nav a:hover {
    color: #2C6277;
    -webkit-text-fill-color: #377A95;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #E0E0E0;
    -moz-text-fill-color: #377A95;
    -moz-text-stroke-width: 0.5px;
    -moz-text-stroke-color: #E0E0E0;
    -o-text-fill-color: #377A95;
    -o-text-stroke-width: 0.5px;
    -o-text-stroke-color: #E0E0E0;    
}

.row {
    width: 100%;
    margin: 0px;
}

.text-box {
    border: 6px solid black;
    color: #E7FFFF;
    background-color: #092834;
    padding: 3em;
}

.text-block > div{
    margin-bottom: 1.5em;
}

.text-block span{
    color: #377A95;
}

footer {
    color: white;
    padding: 1em;
    background-color: black;
}

.tkotm-logo {
    position: relative;
    left: 0%;
    top: 25%;
    width: 100%;
    text-align: center; 
}

.logo {
    z-index: 2;
}

.logo-main {
    z-index: 2;
    position: absolute;
    top: 22%;
    width: 90%;
    left: 5%;
}

.cloud1 {
    z-index: 3;
    position: absolute;
    opacity: 0.9;
    height: auto;
    width: 60%;
    top: 22%;
    left: 40%;
    -webkit-animation: slideToRight 40s infinite ease-out;
    -moz-animation: slideToRight 40s infinite ease-out;
    -o-animation: slideToRight 40s infinite ease-out;
    animation: slideToRight 40s infinite ease-out;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;

}

.cloud2 {
    z-index: 1;
    position: absolute;
    opacity: 0.95;
    height: auto;
    width: 50%;
    top: 21%;
    left: 20%;
    -webkit-animation: slideToLeft 50s infinite ease-out;
    -moz-animation: slideToLeft 50s infinite ease-out;
    -o-animation: slideToLeft 50s infinite ease-out;
    animation: slideToLeft 50s infinite ease-out;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
}

.logo-small {
    margin-top: 1em;
    margin-left: 3em;
    height: 80%;
    width: auto;
}

.shield {
    height: 80%;
}

.portraits {
    border: 0.8em solid black;
}

.portraits:hover {
    border: 1.2em solid black;
}

.button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    outline: none !important;
    box-shadow: none !important;
}

.hidden {
    display: none;
}

.story {
    object-fit: cover;
    border: 0.5em solid black;
    margin-bottom: 2em;
    width: 100%;
    height: 200px;
}

.art img {
    border: 0.5em solid black;
}

.art img:hover {
    border: 1em solid black;
}

.music img:hover {
    border: 0.4em solid black;
}

.audio {
    display: none;
}

.image-center {
    text-align: center;
}

.link-no-border:hover {
    height: 87%;
    
}

@media screen and (min-width: 552px) {
    .logo-main {
        z-index: 2;
        position: absolute;
        top: 22%;
        height: 25%;
        width: auto;
        left: 39%;
    }

    .cloud1 {
        z-index: 3;
        position: absolute;
        opacity: 0.9;
        height: auto;
        width: 35%;
        top: 30%;
        left: 40%;
    }

    .cloud2 {
        z-index: 1;
        position: absolute;
        opacity: 0.9;
        height: auto;
        width: 30%;
        top: 25%;
        left: 30%;
    }
} 

/* Quick fix to disable coud animation for mobile*/
@media screen and (max-width: 552px) {
    .cloud1 {
        display: none;
    }
    
    .cloud2 {
        display: none;
    }
}


/*POISTETTAVAT*/

.testi {
    border: 2px solid red;
}

